/** Add css rules here for your application. */
	
	/** Custom Fonts */
		
		@font-face {
			font-family: "Raleway";
			src: url(../fonts/Raleway-Regular.ttf);
		}
		
		@font-face {
			font-family: "Raleway Bold";
			src: url(../fonts/Raleway-Bold.ttf);
		}

/** Custom css styles */
	
	body {
		font-family: "Raleway" !important;
	}
	
	body b, body strong {
		font-family: "Raleway Bold" !important;
	}
	
	body, table td, select, button {
    	font-family: "Raleway" !important;
    	font-size: 14px !important;
	}
	
	/** sets mouse pointer */
	.clickableNoLink {
		cursor: pointer;
	}
	
	/** resets gwt's dialog box style/borders */
	.gwt-DialogBox .Caption, .gwt-DialogBox .dialogMiddleLeft, .gwt-DialogBox .dialogMiddleRight,
	.gwt-DialogBox .dialogBottomCenter {
		background: none !important;
		padding: none !important;
		border-top: none !important;
		border-bottom: none !important;
	}
	.gwt-DialogBox .dialogTopLeftInner, .gwt-DialogBox .dialogTopRight,
	.gwt-DialogBox .dialogBottomLeftInner, .gwt-DialogBox .dialogBottomRightInner {
		background: none !important;
		width: 0px !important;
		height: 0px !important;
	}
	
	.gwt-DialogBox .dialogMiddleCenter {
	    padding: 0px !important;
	    background: none !important;
	}
	
	/* setting gradient color for styling.. */
	.gradientBgColor {
		background: #b2e1ff; /* Old browsers */
background: -moz-linear-gradient(top,  #b2e1ff 0%, #66b6fc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b2e1ff 0%,#66b6fc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=0 ); /* IE6-9 */
	}
	
	/* white color for navbar-brand */
	.navbar-brand {
		color: #444;
	}
	
	/* setting new color for background-color */
	.nav > li > a:focus, .nav > li > a:hover {
		background-color: rgba(211,211,211, 0.3) !important;	
	}
	
	/* padding alle control-label all'interno delle modal */
	.modal-body .control-label {
		margin-right: 10px !important;
	}
	/* padding tra le radio-inline all'interno delle modal */
	.modal-body .radio-inline {
		margin-right: 5px !important;
	}
	/* padding tra le righe della tabella */
	.modal-body table td {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	/* centrate label dei campi nel form */
	.modal-body .control-label {
		height: 32px;
	}
	
	.filtri{
		padding-top: 20px;
	}
	
	.checkbox input[type="checkbox"] {
		margin: 2px 0px 0px !important;
		margin-left: 0px !important;
	}
	
	.checkbox {
		margin-top:0px !important;
		margin-bottom:0px !important;
		
	  }
	  
	/* padding alle control-label all'interno del widget inserimento messaggio */
	.insertMessage .control-label {
		margin-right: 10px !important;
	}
	.insertMessage .form-control {
		margin-top: 5px !important;
	}
	
	
	.closeBtn {
		margin-top: 0px !important;
		font-size: 21px !important;
	}
	
	.msgBoard {
		border: none !important;
	}
	
	.msgBoard td {
		border: none !important;
	}
	
	.msgBox{
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		word-wrap: break-word;
	}
	
	.timestamp {
		color:#777777;
		font-size: 11px;
	}
	
	.radius {
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	
	.radiusTop {
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	.radiusBottom {
		-webkit-border-bottom-left-radius: 10px;
		-webkit-border-bottom-right-radius: 10px;
		-moz-border-radius-bottomleft: 10px;
		-moz-border-radius-bottomright: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	.followLabel {
		cursor: pointer;
		text-decoration: underline;
		color: rgba(0, 156, 255,1);
		font-size: 10px;
		margin-left: 6px;
		padding-top: 3px;
	}


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

textarea.TxtAreaMessaggio {
	resize: none;
}

.gwt-navbar-label-welcome{ 
	font-size: 115%;
	color: #444;
	padding-left: 830px;
	padding-top: 12px;
}
